NET "fpga_spi_clk_p" LOC=T4;
NET "fpga_spi_mosi_p" LOC=T5;
NET "fpga_spi_cs_p" LOC=R7;

NET "fpga_spi_clk_p" IOSTANDARD = LVDS_33;
NET "fpga_spi_mosi_p" IOSTANDARD = LVDS_33;
NET "fpga_spi_cs_p" IOSTANDARD = LVDS_33;

NET "fpga_tx" LOC=T2;
NET "fpga_rx" LOC=R3;

NET "fpga_tx" IOSTANDARD = LVCMOS33;
NET "fpga_rx" IOSTANDARD = LVCMOS33;

NET "trx1_spi_clk_p" LOC = A6;
NET "trx1_spi_mosi_p" LOC = A5;
NET "trx1_spi_cs" LOC = C4;
NET "trx1_en_n" LOC = A4;
NET "trx1_tx" LOC=B3;
NET "trx1_rx" LOC=A3;

NET "trx1_spi_cs" IOSTANDARD = LVCMOS33;
NET "trx1_spi_clk_p" IOSTANDARD = LVDS_33;
NET "trx1_spi_mosi_p" IOSTANDARD = LVDS_33;
NET "trx1_en_n" IOSTANDARD = LVCMOS33;
NET "trx1_tx" IOSTANDARD = LVCMOS33;
NET "trx1_rx" IOSTANDARD = LVCMOS33;


NET "trx2_spi_clk_p" LOC = C11;
NET "trx2_spi_mosi_p" LOC = B10;
NET "trx2_spi_cs" LOC = C10;
NET "trx2_en_n" LOC = C9;
NET "trx2_tx" LOC=B8;
NET "trx2_rx" LOC=A8;

NET "trx2_spi_cs" IOSTANDARD = LVCMOS33;
NET "trx2_spi_clk_p" IOSTANDARD = LVDS_33;
NET "trx2_spi_mosi_p" IOSTANDARD = LVDS_33;
NET "trx2_en_n" IOSTANDARD = LVCMOS33;
NET "trx2_tx" IOSTANDARD = LVCMOS33;
NET "trx2_rx" IOSTANDARD = LVCMOS33;

NET "aux1_spi_clk" LOC = G2;
NET "aux1_spi_mosi" LOC = J2;
NET "aux1_spi_cs" LOC = G1;
NET "aux1_sw" LOC = J1;

NET "aux1_spi_clk" IOSTANDARD = LVCMOS33;
NET "aux1_spi_mosi" IOSTANDARD = LVCMOS33;
NET "aux1_spi_cs" IOSTANDARD = LVCMOS33;
NET "aux1_sw" IOSTANDARD = LVCMOS33;

NET "aux2_spi_clk" LOC = C1;
NET "aux2_spi_mosi" LOC = E2;
NET "aux2_spi_cs" LOC = C2;
NET "aux2_sw" LOC = D1;
NET "aux2_sw" IOSTANDARD = LVCMOS33;

NET "aux2_spi_clk" IOSTANDARD = LVCMOS33;
NET "aux2_spi_mosi" IOSTANDARD = LVCMOS33;
NET "aux2_spi_cs" IOSTANDARD = LVCMOS33;
