NET "clk" IOSTANDARD = LVCMOS33;
NET "clk" LOC = P9;

NET "debug_mode" IOSTANDARD = LVCMOS33;
NET "debug_mode" LOC = N8;

NET "FPGA_RX" IOSTANDARD = LVCMOS33;
NET "FPGA_RX" LOC = L1;


NET "FPGA_TX" IOSTANDARD = LVCMOS33;
NET "FPGA_TX" LOC = L2;

NET "led[1]" IOSTANDARD = LVCMOS33;
NET "led[0]" IOSTANDARD = LVCMOS33;


NET "led[1]" LOC = F1;
NET "led[0]" LOC = F3;




